h2, h3 {
    margin-bottom: .5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

a {
    color: $tertiary;
}

img {
    max-width: 100%;
}

.button {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    height: 100%;
    border: 0;
    margin: 0 1rem 1rem 0;
    background-color: $gray-lighter;
    text-decoration: none;
    font-family: $font-heading;
    font-size: 1.2rem;
    color: $black;
    line-height: 1.2rem;
    overflow: hidden;
    transition: all ease .5s;

    h1, 
    span {
        z-index: 2;	
        position: relative;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        border-right: 1000px solid transparent;
        z-index: 1;
    }

    &::before {
        left: 0;
        border-bottom: 1000px solid $tertiary;
        transition: all ease-in-out 0.8s;
    }

    &::after {
        left: -10%;
        border-bottom: 1000px solid $secondary;
        transition: all ease-in-out 1.2s;
    }

    &:hover {
        &::before,
        &::after {
            transform: translate(0%,-100%);	
        }
    }
}

.form {
    input, 
    textarea {
        display: block;
    }
}